$title-font: 'Pathway Gothic One', sans-serif;
$body-font: 'Palanquin', sans-serif;


html,
body {
  width: 100%;
  height: 100%;
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 { font-family: $title-font; }

h1{font-size: 42px }
h2{font-size: 36px }
h3{font-size: 27px }
h4{font-size: 21px }
h5{font-size: 16px }
h6{font-size: 12px }

.flex-center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  width: 100%;
  height: 100vh;

  color: #fff;
  text-align: center;

  background-color: #eee;
  background-image: linear-gradient(to bottom, transparent, #000), url('/images/bogor_palace_front.jpg');
  background-position: center;
  background-size: cover;

  @extend .flex-center-content;

  .search-box {
    width: 90%;

    img { width: 64px; }
  }
}

.result-splash {

  padding: 100px 25px 50px 25px;

  @extend .flex-center-content;
  
  color: #fff;
  text-align: center;

  // background-image: linear-gradient(to bottom, transparent, #000), url('/assets/img/bogor_palace.jpg');
  background-color: #000;
  background-position: center;
  background-size: cover;

  .splash-infographic {

    padding: 0 15px;

    .splash-header {
      margin-bottom: 5rem;
    }
    // .text-info { font-size: rem-calc(12px);}

  }

  .splash-title {
    text-transform: uppercase;
  }
}

.result-details { 
  padding-top: 20px; 
  padding-bottom: 20px; 
}

.footer {
  padding: 20px;
  background-color: #eee;
}

@media screen and (min-width: 768px) {
  h1{font-size: 46px }
  h2{font-size: 40px }
  h3{font-size: 31px }
  h4{font-size: 25px }
  h5{font-size: 20px }
  h6{font-size: 16px }
  .result-splash {height: 100vh;}
}